@font-face {
  font-family: "pixel";
  src: url("../../assets/1993-2-fe19.woff") format("woff");
  font-weight: 400;
}

html {
  font-size: 0.875rem;
  @media screen and (min-width: $medium) {
    font-size: 1rem;
  }
}

h1, h2, h3, h4, h5, strong {
  font-weight: 400;
}

p, li {
  line-height: 1.3em;
}