$grey: #607d8b;
$lightGrey: #90a4ae;
$darkGrey: #22242f;
$black: #161721;
$teal: #60fbd0;
$darkTeal: #34aa89;
$blue: #1e92e6;
$darkBlue: #1c6599;
$orange: #f57c00;
$darkOrange: #ff5722;
$red: #e53935;
$green: #00c853;
$white: #fff;
$purple: #aa56e7;
$purpleBow: #573b8f;

$gutter: 30px;

$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;
$hd: 1280px;
$inner: 1416px;
$xga: 1680px;
$fhd: 1920px;

@mixin boxShadow {
  box-shadow: 1px 2px 2px hsl(220deg 60% 50% / 0.2),
    2px 4px 4px hsl(220deg 60% 50% / 0.2),
    4px 8px 8px hsl(220deg 60% 50% / 0.2),
    8px 16px 16px hsl(220deg 60% 50% / 0.2),
    16px 32px 32px hsl(220deg 60% 50% / 0.2);
}
